.example-card {
    max-width: 500px;
    margin: 10px;
    cursor: pointer; /* Cambia el cursor al pasar sobre la tarjeta */
  }
  
  .example-card:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  }
  .example-section {
    display: flex; /* Utiliza flexbox para que los elementos se muestren en línea */
    justify-content: space-around; /* Distribuye uniformemente el espacio entre los elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas adicionales si no caben en una sola línea */
  }  
