<section class="example-section">
  <mat-card class="example-card" (click)="navigateToComponent1()">
    <mat-card-header>
      <mat-card-title>Información del cliente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Contenido de la Tarjeta 1
    </mat-card-content>
   
  </mat-card>

  <mat-card class="example-card" (click)="navigateToComponent2()">
    <mat-card-header>
      <mat-card-title>Facturas del cliente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Contenido de la Tarjeta 2
    </mat-card-content>
   
  </mat-card>
  
</section>
